@charset "UTF-8";
*{
    margin: 0px;
    padding:0px ;
}
body{
    background-color: darkgrey;
}

#container{
    
    height: 800px;
    width: 800px;
    
    border: solid 6px aliceblue;
    display: grid;
    grid-template-columns: repeat(3, 1fr) ;
    grid-template-rows: repeat(3, 1fr);
    /* column-gap: 30px; */
    grid-template-areas: "sss sss sss "
"jjj jjj jjj" 

"jjj rrr rrr "

    ;


  /* row-gap: 20px; */
  gap: 20px ;
    
    
}
.caixa1{

  grid-area:sss;
    background-color: red;
    }
    
    .caixa2{
        grid-area: rrr;
    
    background-color:white;
    }
    .caixa3{
        grid-area: jjj;
    
    background-color: green;}
