div{
    height: 250px;
    width: 250px;
    border: solid 4px ;
    margin: 30px;
}
.caixa1{
    box-sizing:content-box ;
    
    font-size: 2em;
    padding: 20px;
    border: dotted 10px red ;
}
.caixa2{
    box-sizing:border-box ;
    /* border-color: blueviolet; */
    font-size: 2em;
    padding: 20px;
    border: dotted 10px rebeccapurple ;
}