body{
    background-color: cyan;
}

.container{
    height: 800px;
    width: 800px;
    margin: 25px auto;
    border: solid 6px aliceblue;
    display: grid;
    grid-template-columns: repeat(4, 1fr) ;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: 
    
    "header header header header"
    "aside  main main main"
    "aside main main main"
    "footer footer footer footer"
}

.box1{
    grid-area:header;
    background-color: gray;
    }
    
    .box2{
    grid-area: aside;
    background-color: blue;
    }
    .box3{
    grid-area: main;
    background-color: chartreuse;
    }
    .box4{
    grid-area: footer;
    background-color: crimson;
    }